##########################################
# Python
##########################################
__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/
wheels/
pip-wheel-metadata/

.pytest_cache/
.ruff_cache/
.mypy_cache/

##########################################
# Virtual envs
##########################################
.venv/
.tmp/

##########################################
# IDE
##########################################
.vscode/
.idea/
*.swp
*.swo

##########################################
# OS
##########################################
.DS_Store
Thumbs.db

##########################################
# Jupyter
##########################################
.ipynb_checkpoints/

##########################################
# Kedro / Data / Outputs
##########################################
# Kedro datasets (normalmente não versionar)
data/**

# Se você usa .gitkeep para manter estrutura:
!data/**/.gitkeep
!data/06_models/
!data/06_models/factory_curve/
!data/06_models/factory_curve/nelson_siegel/
!data/06_models/factory_curve/svensson/
!data/07_model_output/
!data/07_model_output/factory_curve/
!data/07_model_output/factory_curve/nelson_siegel/
!data/07_model_output/factory_curve/svensson/

# Outputs típicos
logs/
reports/

##########################################
# Local config / secrets
##########################################
.env
.env.*
conf/local/
conf/**/local/

##########################################
# Misc
##########################################
*.log
*.tar
